{{template "base" .}}

{{define "title"}}{{.Product.Name}}{{end}}

{{define "main"}}
<div>
    <p>
        <a href='/home'>Home</a> >
        <a href='/seller?sellerid={{.Product.SellerID}}'>Seller Page</a> >
        <a href='/product?productid={{.Product.ProductID}}'>{{.Product.Name}} </a>
    </p><br>
</div>
<div>
    <h1>{{.Product.Name}}</h1><br>
    <p>Price: {{.Product.Price}}</p><br>
    <p>Discount: {{.Product.DiscountID | getDisc }}</p><br>
    <p>Ratings: {{.Product.Rating}}</p><br>
    <p>No. of Ratings: {{.Product.RatingNum}}</p><br>
    <p>Units Sold: {{.Product.UnitSold}}</p><br>
    <p>Balance: {{.Product.Inventory}}</p>
    {{ if not .IsSeller}}
    <form action='/shoppingcart/add' method='GET'>
        <input type="hidden" name="productid" value={{.Product.ProductID}} />
        <input class="cartbutton" type="submit" value="Add To Cart" />
    </form>
    <form action="/shoppingcart/" method="GET">
        <input class="cartbutton" type="submit" value="View Cart">
    </form>
    {{else}}
        {{if eq .Product.SellerID .User.UserID}}
        <form action="/product/delete" method="GET">
            <input type="hidden" name="productid" value={{.Product.ProductID}}>
            <input class="cartbutton" type="submit" value="Delete">
        </form>
        <form action="/product/update" method="GET">
            <input type="hidden" name="productid" value={{.Product.ProductID}}>
            <input class="cartbutton" type="submit" value="Update">
        </form>
        {{end}}
    {{end}}
</div>
<div>
    <br>
    <h1>Seller Information</h1>
    <a href='/seller?sellerid={{.Product.SellerID}}'> View Store</a>
</div>
<br>
<div>
    <h1>Product Description</h1>
    <p>{{.Product.Desc}}</p>
</div>
{{end}}