{{template "base" .}}

{{define "title"}}Success!{{end}}

{{define "main"}}
<div>Your Order(s) was successfully placed!</div>
<a href="/orders">View Orders</a><br>
<a href="/home">Continue Browsing</a>
{{end}}